* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #080808;
color: #f3c705;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a { 
    color: #f5f6fa;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 80px;
}

.brands-list li {
    display: inline;
    margin-right: 12px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
} 

section ul, [class*="span"] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #080808;
    margin-top: 24px;
    margin-left: 24px;
}

section span {
    font-weight: bolder
}

section {
    color: #080808;
}
section p {
    margin-bottom: 8px;
}

.store-front {
margin-right: 32px;
}

.social-links img {
    height: 48px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #3c3d3f;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #f3c705;
}

input:focus, textarea:focus {
    outline-color: #f3c705;
}

footer {
    background-color: #080808;
    color: #ecf0f1;
    padding: 16px 0;
}

header, b {
    background-color: #080808;
    color: #f3c705;
    padding: 8px 0;
    font-family: 'Bungee', cursive;
    font-style: italic;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #080808;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img, video {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#Masculino {
    background-color: #d3d5df;
}

#Feminino {
    background-color: #d3d5df;
}

#Variedades {
    background-color: #d3d5df;
}

#Exclusividade {
    background-color: #d3d5df;
}
